[toolchain]
solana-cli = "2.1.5"

[features]
resolution = true
skip-lint = false

[programs.localnet]
vertex_program = "9bRE8rbemawE439Fyh91LSnG83hrsSaGg4pjuJ7CpEPT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/vertex-program.ts"
